@import 'util.sass'

body
  background-color: $bg-color
  font-family: lucida grande,lucida sans unicode,lucida,helvetica,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif


a,
a:hover,
a:active,
a:visited,
a:focus
  text-decoration: none
