<div class="article-header">
  <h1 class="article-header-title"><a>{{articleInfo.title}}</a></h1>
  <a class="article-header-calendar">
    <svg buiIcon="calendar" size="sm"></svg>{{articleInfo.createTime | date: 'y/MM/dd'}}
  </a>
</div>
<div class="article-info">
  <markdown [data]="articleInfo.content"></markdown>
</div>
<div class="article-footer">
  <div class="article-footer-entrance">
    <a>
      展开全文
      <svg buiIcon="angle-right" size="sm"></svg>
      <svg buiIcon="angle-right" size="sm"></svg>
    </a>
  </div>
</div>
