<!-- 宽屏侧边栏 -->
<section class="blog-left-nav">
  <div class="blog-left-nav-header">
    <bui-avatar class="blog-left-nav-header-avatar" src="assets/images/avatar.jpg" size="max"></bui-avatar>
    <div>
      <h2><a routerLink="/log">没错我是在扯淡</a></h2>
    </div>
    <div style="text-align: center">
      <p><a routerLink="">Blanc的博客</a></p>
      <p>一个会写Maxwell的前端码农</p>
    </div>
  </div>

  <div class="blog-left-nav-body">
    <div class="blog-left-nav-body-item"><a routerLink="">首页</a></div>
    <div class="blog-left-nav-body-menu" #menuBtn>
      <div class="blog-left-nav-body-item" (click)="showLeftMenu()">所有文章 </div>
      <div class="blog-left-nav-body-item" (click)="showLeftAbout()">关于我</div>
    </div>
  </div>

  <div class="blog-left-nav-footer">
    <a [href]="githubLink" target="_blank">
      <bui-avatar icon="github" size="md"></bui-avatar>
    </a>
    <a [href]="zhiHuLink" target="_blank">
      <bui-avatar icon="zhihu" size="md"></bui-avatar>
    </a>
  </div>
</section>
<!-- 活动目录 && 关于我 组件 -->
<section #menu class="blog-tools" [@leftMenuIn]="isLayoutMenuOpen ? 'menuShow' : 'menuHide'">
  <blog-fe-layout-menu (articleChanged)="articleChanged()" *ngIf="leftMenu"></blog-fe-layout-menu>
  <blog-fe-layout-about *ngIf="!leftMenu"></blog-fe-layout-about>
</section>

<!-- 主要内容界面 -->
<section class="blog-main" [@rightContentOut]="isLayoutMenuOpen ? 'contentHide' : 'contentShow'">
  <div class="blog-main-mobile-nav">
    <div class="blog-main-mobile-nav-header"></div>
    <div class="blog-main-mobile-nav-footer"></div>
  </div>
  <router-outlet></router-outlet>
</section>
